<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="on">
  <appenders>  
    <Console name="Console" target="SYSTEM_OUT">
      <JsonLayout complete="true"/>
      <!--<JsonLayout><KeyValuePair key="timeMillis" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}"/></JsonLayout>-->
    </Console>  
  </appenders>  
  <loggers>
    <AsyncLogger name="com.kadan" level="trace" includeLocation="true">
      <appender-ref ref="Console" />
      <!--<appender-ref ref="debugLog" />-->
      <!--<appender-ref ref="errorLog" />-->
    </AsyncLogger>

    <asyncRoot level="trace" includeLocation="true">
      <appender-ref ref="Console" />
    </asyncRoot>
  </loggers>
</configuration>